body {
	display: flex;
	justify-content: center;
}

.user {
	padding: 0.5rem;
}

.pass {
	padding: 0.5rem;
}

form input[type="submit"]{
	background: blue;
	color: white;
	margin-top: 1rem;
}

.fail {
	justify-content: center;
	display: none;
	background: red;
	border: solid black;
	margin: 2rem;
}